@import "tailwindcss";

:root {
  --background: #fafafa;
  --background-secondary: #ededed;
  --card-background: #ffffff;
  --border: #eaeced;
  --foreground: #00171f;
  --foreground-secondary: #747f84;
  --primary: #00a8e8;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-card-background: var(--card-background);
  --color-border: var(--border);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-primary: var(--primary);
  --font-epilogue: var(--font-epilogue);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background: var(--background-secondary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
